---
import 'aos/dist/aos.css';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';

import { Image } from 'astro:assets';
import Portait from '../portrait.jpg';

import CharbotLogo from "../charbot-icon.jpg";
import FourPlayerChessLogo from "../four-player-chess-icon.png";
---
<Layout title="Jareth Gomes - Software Developer">
    <script>
        import AOS from 'aos';
        AOS.init();
    </script>
	<main class="mr-10 ml-10 flex h-screen flex-col items-center justify-center text-center" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="text-center text-8xl m-10 font-medium">Hello! I'm <span class="text-gradient">Jareth</span></h1>
            <p class="text-center text-4xl">
                Software Engineer and Developer
            </p>
	</main>
    <section id="about" class="w-[60vw] flex h-screen flex-col gap-8 items-center justify-center text-center lg:flex-row mx-auto">
        <div class="lg:basis-1/2 flex flex-col items-center justify-center" data-aos="fade-right" data-aos-duration="1000">
            <h2 class="text-4xl text-teal-500 dark:text-teal-400 my-10">
                A bit about myself
            </h2>
            <Image src={Portait} alt="A protrait of Jareth" width={300}/>
        </div>
        <p class="basis-1/2 text-xl" data-aos="fade-up" data-aos-duration="1000">
            I am a full stack developer from Chicago that specializes in backends and cybersecurity.
            I graduted from the University of Illinois with a Bachelors in Computer Science.
        </p>
    </section>
    <section id="projects" class="flex flex-col h-screen items-center justify-center text-center ml-32 mr-32">
        <h2 class="text-4xl text-teal-500 dark:text-teal-400 m-10" data-aos="fade-up">
            Projects I've made
        </h2>
        <div class="flex flex-wrap items-center justify-center gap-2 text-center lg:flex-row">
            <ProjectCard projectName={"Four player chess"} projectImgSrc={FourPlayerChessLogo} synopsis={"A client-server game created in Java"} data-aos="fade-n-flip-left" href="/projects/four-player-chess"/>
            <ProjectCard projectName={"CharBot"} projectImgSrc={CharbotLogo} synopsis={"A Discord bot written using discord.js that roast users on command"} data-aos="fade-n-flip-left" data-aos-delay="100" href="https://github.com/Nydauron/CharBot" target="_blank"/>
            <ProjectCard projectName={"playing-cards"} synopsis={"A poker evaluation library written in Rust"} data-aos="fade-n-flip-left" data-aos-delay="200" href="https://github.com/Nydauron/" target="_blank"/>
        </div>
    </section>
    <div class="h-screen flex flex-col items-center justify-center">
        <h2 id="contact" class="text-4xl text-center text-teal-400">My contact information</h2>
        <Footer />
    </div>
</Layout>

<style type="scss">
    [data-aos="fade-n-flip-left"] {
        opacity: 0;
        transition-property: transform, opacity;

        &.aos-animate {
            opacity: 1;
        }

        @media screen and (min-width: 768px) {
            transform: scaleX(0);

            &.aos-animate {
                transform: scaleX(1);
            }
        }
    }
</style>
<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    @media (prefers-color-scheme: dark) {
        .text-gradient {
            background-image: var(--accent-gradient-dark);
        }
    }
    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }
    .instructions code {
        font-size: 0.875em;
        font-weight: bold;
        background: rgba(var(--accent), 12%);
        color: rgb(var(--accent));
        border-radius: 4px;
        padding: 0.3em 0.45em;
    }
    .instructions strong {
        color: rgb(var(--accent));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
